doctype html
html
  head
    meta(charset='utf-8')
    script(type='text/javascript', src='scripts.js')
    link(rel='stylesheet', href='public/style.css')
    title MEMORY JS
  body
    main
      br
      h1 log in: PLAYERS 
      p
      form(action='/connex', method='post')
        label(for='pseudo') Pseudo :
        input(type='text', name='pseudo')
        label(for='email') Email :
        input(type='email', name='email')
        label(for='password') Password :
        input(type='Password', name='password')
        input(type='submit', value='envoyer')
        p #{msg1}
        
    #site
      a(href='inscription') inscription
